.card {
  display: flex;
  height: 400px;
  width: 300px;
  border: solid 1px black;
  border-radius: 16px;
  background-color: #fff;
}
.col {
  text-align: center;
}

.left {
  flex-grow: 0.5;
}

.center {
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.right {
  flex-grow: 0.5;
  transform: rotate(-180deg);
}

.display-number {
  padding: 12px 0 0 14px;
  font-size: 45px;
}

.suit {
  font-size: 70px;
}
